<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MKMapSnapshotter.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BE3A56071D110EC4009E0B7A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BE3A561B1D110EC5009E0B7A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BE3A56261D110EC5009E0B7A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
